<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue-简易todolist</title>
    <script src="src/vue.js"></script>
</head>
<body>
<div id="todoList">
    <input type="text" placeholder="enter your message" v-model="newTodo" @keyup.enter="addTodo" autofocus/>
    <input type="button" value="提交" v-on:click="addTodo"/>
    <ul>
        <li v-for="item in todoData">{{item}}</li>
    </ul>
</div>
<script>
    let vm = new Vue({
        el:'#todoList',
        data:{
            todoData:[],
            newTodo:''
        },
        methods:{
            addTodo:function(){
                this.todoData.push(this.newTodo);
                this.newTodo = '';
            }
        }
    })
</script>
</body>
</html>